# drawio
*.drawio.bkp
*.svg.bkp
/tb/tb
/tb/*.lxt
/tb/*.vcd
/tb/inst.txt
/tb/btrm.txt
/tb/uart.txt
/tb/MEM.TXT
/tb/SFDP.TXT
/tb/SREG.TXT
/tb/SECSI.TXT

/tb/vlog.opt
/tb/transcript
/tb/work
/tb/modelsim.ini
/tb/btrm.txt
/tb/vsim.wlf

/rtl/perips/sm3/tb/tb
/rtl/perips/sm3/tb/tb_sm3_core_top.sv

/py_gen

/syn
/tools/*
/bsp/obj/*
/tb/tools/bootrom/obj/*

/.vscode

/fpga/anlogic/anlogic.bit

/fpga/gowin_tang_nano_20k/impl/gwsynthesis
/fpga/gowin_tang_nano_20k/impl/pnr
/fpga/gowin_tang_nano_20k/impl/temp
/fpga/gowin_tang_nano_20k/gowin_tang_nano_20k.gprj.user

/fpga/gowin_tang_primer_20k
#/fpga/gowin_tang_primer_20k/impl/gwsynthesis
#/fpga/gowin_tang_primer_20k/impl/pnr
#/fpga/gowin_tang_primer_20k/impl/temp
#/fpga/gowin_tang_primer_20k/gowin_tang_primer_20k.gprj.user

/fpga/gowin_gw1n_lv9qn48/impl/gwsynthesis
/fpga/gowin_gw1n_lv9qn48/impl/pnr
/fpga/gowin_gw1n_lv9qn48/impl/temp
/fpga/gowin_gw1n_lv9qn48/gowin_gw1n_lv9qn48.gprj.user